*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.sidebar{
    background-color: #0b0b0bea;
    height: 100%;
    width: 30%;
    padding: 30px;
    color: white;
}

.main-content{
    height: 100%;
    width: 100%;
    padding: 0px;
    
}

.nama{
    background-color: rgb(255, 213, 0);
}

.project-section{
    margin: 20px;
}

.education-section{
    margin: 20px;
}

